body {
  margin: 0 0;
}
.container {
  background-color: rgb(245, 217, 236);
  font-family: sans-serif;
  margin: 0 0 20px;
  border: 2px solid black;
  border-color: bisque;
}
h1 {
  margin: 30px 20px;
  color: rgb(97, 94, 92);
  font-family: "Courier New", Courier, monospace;
}
nav a:hover {
  color: rgb(19, 219, 215);
  background-color: bisque;
  font-weight: bolder;
  justify-content: flex-end;
}

.resim img:hover {
}

a {
  padding: 10px;
  border: 2px solid rgb(255, 228, 296);
  background-color: rgb(255, 255, 255);
  color: rgb(97, 94, 92);
  display: inline-block;
  text-decoration: wavy;
  font-family: sans-serif;
  margin-bottom: 10px;
  justify-content: flex-start;
  font-family: "Courier New", Courier, monospace;
}
.container a:first-child {
  margin: 0 0 0 20px;
}

.gövde {
  color: rgb(0, 0, 0);
  text-decoration: none;
  border: 2px solid bisque;
  background-color: rgb(255, 208, 233);
  font-family: "Courier New", Courier, monospace;
}

#ana-giriş {
  display: flex;
  justify-content: space-between;
  padding: 0 30px 20px;
}

#ana-giriş img {
  width: 70%;
  padding-top: 20px;
}
#ana-giriş img:hover {
  filter: contrast(70%);
}
#ana-giriş p {
  text-align: start;
}

footer {
  text-align: center;
  margin-top: 20px;
  background-color: rgb(245, 217, 236);
  border: 2px solid bisque;
  color: rgb(97, 94, 92);
}
.spacer {
  height: 30vh;
  width: 100vw;
}
#projects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#projects div {
  width: 20%;
  padding: 10px;
}

#projects img {
  width: 100%;
}

p {
  text-align: center;
}
